html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

#es-nyx.es-nyx{
font-size: 16px;
  line-height: 1.2;
  max-width: 990px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
    img{
        max-width: 100%;
    }
  .es-kv{
    min-height: 600px;
    background-image: url(./img/kv-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    &__textCtn{
    }
    &__single{
        background-color: #000;
        color: #fff;
        text-align: center;
        padding: 0px 20px;
        margin: 20px;
        font-size: 16px;
        position: relative;
    }
    &__newness{
        font-family: 'Water Brush', cursive;
        transform: rotate(-20deg);
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        font-size: 50px;
        font-weight: 400;
        display: block;
        position: absolute;
        left: -20px;
        top:-100px;
    }
    &__text{
        padding: 8px;
    }
  }

  .es-logo{
    background-color: #000;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .es-info{
    min-height: 600px;
    background-image: url(./img/info-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    position: relative;
    &__ctn{
        max-width: 300px;
        background-color: #000;
        color: #fff;
    }
    &__ctnList{
        margin: 20px;
        padding: 40px;
    }
    &__listItem{
        margin: 20px 0;
        list-style: none;
        position: relative;
        &::before{
            content: url(./img/tick.png);
            position: absolute;
            left: -50px;
        }
    }
  }
  .es-ingr{
    margin-top: -350px;
    min-height: 400px;
    z-index: 1;
    position: relative;
    background-color: #d1113f;
    &__bg{
    }
    &__ctn{
        position: absolute;
        z-index: 2;
        bottom:16%;
        right: 10%;
    }
    &__text{
        color: #fff;
        font-family: 'Water Brush', cursive;
        font-size: 20px;
        font-weight: 400;
    }
  }
  .es-shades{
    margin-top: -50px;
    z-index: 2;
    position: relative;
    &__ctn{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        position: relative;
        &--0{
            background: #000;
            min-height: 200px;
            clip-path: none;

        }
        &--1{
            background: transparent;
            margin-top: -18px;
        }
        &--2{
            background: transparent;
            margin-top: -4px;
        }
        &--3{
            background: transparent;
            margin-top: -4px;
        }
        &--4{
            background: transparent;
            margin-top: -4px;
        }
    }
    &__mainText{
        position: absolute;
        bottom: 0px;
        right: 80px;
    }
    &__title{
        font-family: 'Water Brush', cursive;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        font-size: 50px;
        font-weight: 400;
        color: #fff;
        position: relative;
        span{
            margin-left: 70px;
        }
        &::before{
            content: url(./img/arrow-5.png);
            position: absolute;
            left: -120px;
            bottom: -100px;
            display: none;
        }
    }
    &__single{
        width: 120px;
        margin: 0;
        height: 335px;
        &--0{
            display: none;
        }
      
    }
    &__prdctCtn{
        &--onesieFunsie{
            background-color: #af5173;
           }
           &--threadCount{
            background-color: #78504e;
           }
           &--feelings{
            background-color: #00303c;
           }
           &--chocolateMousse{
            background-color: #751b34;
           }
           &--velvetRobe{
            background-color: #962b35;
           }
           &--cherryCreme{
            background-color: #c80c2f;
           }
           &--icingOnTop{
            background-color: #f20d22;
           }
           &--berryBedSheets{
            background-color: #64214c;
           }
           &--pillowFight{
            background-color: #f4065b;
           }
           &--bdayFrosting{
            background-color: #ab1368;
           }
           &--fuzzySlippers{
            background-color: #892a4a;
           }
           &--pushinCushion{
            background-color: #a74f45;
           }
           &--fauxFur{
            background-color: #985948;
           }
           &--parfait{
            background-color: #a34140;
           }
           &--teddyFluff{
            background-color: #9e5a4f;
           }
           &--latteFoam{
            background-color: #8e4743;
           }
           &--kittyBelly{
            background-color: #aa584d;
           }
           &--pancakeStacks{
            background-color: #a26d5f;
           }
           &--memoryFoam{
            background-color: #81554a;
           }
           &--laundryDay{
            background-color: #b6736a;
           }
           &--cheeks{
            background-color: #c97c72;
           }
           &--blankie{
            background-color: #47a9d6;
           }
           &--pomPom{
            background-color: #d34098;
           }
           &--snuggleSesh{
            background-color: #ae5c8c;
           }
          
           
    }
    &__prdct{
        display: block;
        margin: 0px auto;
        padding: 10px;
    }
    &__nameCtn{
       background-color: #000;
       margin: 0;
    }
    &__name{
        color: #fff;
        margin: 0;
        text-transform: uppercase;
        text-align: center;
        padding: 5px 10px;
        font-size: 8px;
    }
    &__lipCtn{
        margin: 0;
        padding: 0;
    }
    &__lipImg{
        margin: 0;
        padding: 0;
    }
  }
  .es-cross{
    padding: 20px;
    background: rgb(147,204,231);
    background: radial-gradient(circle, rgba(147,204,231,1) 0%, rgba(71,169,214,1) 100%);
    &__upperCtn{
        position: relative;
        &::after{
            content: url(./img/arrow-4.png);
            position: absolute;
            left: 300px;
            bottom: -80px;
            display: none;
        }
    }
    &__title{
        margin-left: 0px;
        color: #fff;
        font-family: 'Water Brush', cursive;
        font-size: 55px;
        font-weight: 400;
        text-shadow: 6px 0px 10px #000;
        &--1{
            margin-left: 50px;
        }
        &--2{
            margin-left: 100px;
        }
    }
    &__productsCtn{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-end;
    }
    &__single{
        max-width: 200px;
        margin: 10px;
    }
    &__imgCtn{
        padding: 20px;
    }
    &__img{
        margin: 0 auto;
        display: block;
    }
    &__nameCtn{
        background-color: #000;
        min-height: 50px;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }
    &__name{
        color: #fff;
        text-transform: uppercase;
        text-align: center;
    }
    &__descCtn{
        padding: 10px 0;
        min-height: 160px;
    }
    &__desc{
        color: #fff;
        font-size: 12px;
        font-weight: 400;
        text-align: center;
    }
    &__link{
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        background-color: #e0219a;
        width: 200px;
        padding: 10px 20px;
        font-size: 14px;
        transition: .4s all ease-in-out;
        display: block;
        margin: 0 auto;
        &:hover{
            background-color: transparent;
            outline: 4px solid #e0219a;
        }
    }
}
.es-footer{
    width: 100%;
    background-color: #000;
    padding: 20px;
    &__logo{
        margin: 0 auto;
        display: block;
    }
}

}

@media (min-width: 790px){
    #es-nyx.es-nyx{
        .es-kv{
            &__single{
                font-size:25px;
            }
            &__newness{
                font-family: 'Water Brush', cursive;
                transform: rotate(-20deg);
                text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
                font-size: 50px;
                font-weight: 400;
                display: block;
                position: absolute;
                left: -20px;
                top:-60px;
            }
        }
        .es-logo{
            justify-content: space-between;
        }

        .es-info{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 30px;
            &__ctn{
                max-width: 580px;
            }
            &__ctnList{
                margin: 20px;
                padding: 20px 60px;
            }
            &__listItem{
                margin: 20px 0;
                list-style: none;
                position: relative;
                &::before{
                    content: url(./img/tick.png);
                    position: absolute;
                    left: -50px;
                    top:-20px;
                }
            }
          }

          .es-ingr{
            margin-top: -600px;
            min-height: 800px;
            z-index: 1;
            &__ctn{
                position: absolute;
                z-index: 2;
                bottom:25%;
                right: 15%;
            }
            &__text{
                color: #fff;
                font-family: 'Water Brush', cursive;
                font-size: 45px;
                font-weight: 400;
                position: relative;
                &--1::before{
                    content: '';
                    background-image: url(./img/arrow-1.png);
                    background-size: 160px 90px;
                    width: 160px; 
                    height: 90px;
                    position: absolute;
                    left: -190px;
                    bottom: -60px;
                    filter: invert(1);
                }
                &--2::before{
                    content: '';
                    background-image: url(./img/arrow-2.png);
                    background-size: 100px 50px;
                    width: 100px; 
                    height: 50px;
                    position: absolute;
                    left: -120px;
                    bottom: -20px;
                    filter: invert(1);
                }
                &--3::before{
                    content: '';
                    background-image: url(./img/arrow-3.png);
                    background-size: 100px 60px;
                    width: 100px; 
                    height: 60px;
                    position: absolute;
                    left: -100px;
                    bottom: -60px;
                    filter: invert(1);
                }
            }
          }
          .es-shades{
            margin-top: -250px;
            &__mainText{
                position: absolute;
                bottom: 50px;
                right: 100px;
           }
            &__title{
                font-family: 'Water Brush', cursive;
                text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
                font-size: 50px;
                font-weight: 400;
                color: #fff;
                position: relative;
                span{
                    margin-left: 70px;
                }
                &::before{
                    content: url(./img/arrow-5.png);
                    position: absolute;
                    left: -120px;
                    bottom: -100px;
                    display: block;
                }
            }
                &__ctn{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    &--0{
                       background: #000;
                       min-height: 400px;
                       clip-path: polygon(0 52%, 100% 0, 100% 99%, 0% 100%);

                    }
                &--1{
                    background: rgb(129,85,74);
                    background: linear-gradient(90deg, rgba(129,85,74,1) 31%, rgba(174,92,140,1) 100%);
                }
                &--2{
                    background: rgb(175,81,115);
                    background: linear-gradient(90deg, rgba(175,81,115,1) 31%, rgba(200,12,47,1) 100%);
                    }
                &--3{
                    background: rgb(242,13,34);
                    background: linear-gradient(90deg, rgba(242,13,34,1) 31%, rgba(167,79,69,1) 100%);
                }
                &--4{
                    background: rgb(152,89,72);
                    background: linear-gradient(90deg, rgba(152,89,72,1) 31%, rgba(162,109,95,1) 100%);
                }
                }
                &__single{
                    width: 150px;
                    margin: 0;
                    height: 370px;
                    &--0{
                        display: none;
                    }
                    }
                    &__name{
                        font-size: 11px;
                    }
                &__prdctCtn{
                    &--0{
                        height: 0%;
                        width: 0%;
                       }
                }
            }
          .es-cross{
            padding: 20px;
            background: rgb(147,204,231);
            background: radial-gradient(circle, rgba(147,204,231,1) 0%, rgba(71,169,214,1) 100%);
            &__upperCtn{
                position: relative;
                &::after{
                 
                    display: block;
                }
            }
            &__title{
                margin-left: 100px;
                color: #fff;
                font-family: 'Water Brush', cursive;
                font-size: 55px;
                font-weight: 400;
                text-shadow: 6px 0px 10px #000;
                &--1{
                    margin-left: 50px;
                }
                &--2{
                    margin-left: 100px;
                }
            }
            &__productsCtn{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: flex-end;
            }
            &__single{
                max-width: 200px;
                margin: 10px;
            }
            &__imgCtn{
                padding: 20px;
            }
            &__img{
                margin: 0 auto;
                display: block;
            }
            &__nameCtn{
                background-color: #000;
                min-height: 50px;
                font-size: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px;
            }
            &__name{
                color: #fff;
                text-transform: uppercase;
                text-align: center;
            }
            &__descCtn{
                padding: 10px 0;
                min-height: 160px;
            }
            &__desc{
                color: #fff;
                font-size: 12px;
                font-weight: 400;
                text-align: center;
            }
            &__link{
                text-decoration: none;
                text-transform: uppercase;
                color: #fff;
                text-align: center;
                background-color: #e0219a;
                width: 200px;
                padding: 10px 20px;
                font-size: 14px;
                transition: .4s all ease-in-out;
                display: block;
                margin: 0 auto;
                &:hover{
                    background-color: transparent;
                    outline: 4px solid #e0219a;
                }
            }
        }
    }

    
}

@media (min-width: 910px){
    #es-nyx.es-nyx{
        .es-shades{
            margin-top: -280px;
            &__mainText{
                position: absolute;
                bottom: 50px;
                right: 100px;
            }
            &__title{
                font-family: 'Water Brush', cursive;
                text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
                font-size: 50px;
                font-weight: 400;
                color: #fff;
                position: relative;
                span{
                    margin-left: 70px;
                }
                &::before{
                    content: url(./img/arrow-5.png);
                    position: absolute;
                    left: -120px;
                    bottom: -100px;
                }
            }
            &__ctn{
                &--0{
                    background: rgb(129,85,74);
                    background: linear-gradient(90deg, rgba(129,85,74,1) 31%, rgba(174,92,140,1) 100%);
                    display: flex;
                    clip-path: polygon(0 52%, 100% 0, 100% 99%, 0% 100%);
                }
            }
            &__single{
                &--0{
                    display: block;
                }
            }
            &__prdctCtn{
                &--0{
                    height: 100%;
                    width: 100%;
                   }
            }
        }
    }
}